<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css">
<script defer
  src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js"></script>

<script defer
  src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/contrib/auto-render.min.js"
  onload="renderMathInElement(document.body);"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    renderMathInElement(document.body, {
      delimiters: [
        { left: "$$", right: "$$", display: true },
        { left: "$", right: "$", display: false }
      ],
      macros: {
        "\\R": "\\mathbb{R}",
        "\\C": "\\mathbb{C}",
        "\\Z": "\\mathbb{Z}",
        "\\N": "\\mathbb{N}",
        "\\Q": "\\mathbb{Q}",
        "\\EE": "\\mathbb{E}",
        "\\x": "\\mathbf{x}",
        "\\X": "\\mathbf{X}",
        "\\y": "\\mathbf{y}",
        "\\z": "\\mathbf{z}",
        "\\u": "\\mathbf{u}",
        "\\U": "\\mathbf{U}",
        "\\I": "\\mathbf{I}",
        "\\A": "\\mathbf{A}",
        "\\J": "\\mathbf{J}",
        "\\bmu": "\\boldsymbol{\\mu}",
        "\\T": "^{\\top}",
        "\\inv": "^{-1}",
        "\\normal": "\\mathcal{N}",
        "\\argmin": "\\underset{#1}{\\operatorname{argmin}}",
        "\\argmax": "\\underset{#1}{\\operatorname{argmax}}",
      }
    });
  });
</script>